
.myMainbody{
  margin: 0;
  background: url("/img/hero-day.jpg") no-repeat fixed center 0;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

.myCommonBody{
  margin: 0;
  background-image: url(../img/hero.jpg);
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

a:link { text-decoration: none;color: white}
a:active { text-decoration:none}
a:visited { text-decoration: none;color: white}
a:hover { text-decoration:underline;color: floralwhite}

.myMenu{
  color:white;
  font-size: 16px;
  text-shadow:3px 2px 4px #d7d7d7 ;
}

.myContainer{
  width: 270px;
  height: 250px;
  background-color:rgba(0,0,0,0);
  box-shadow: none;
  border:none;
  margin-top: 130px;
  font-size: 20px;
  text-shadow:none;
}

.myContainer h1{
  font-size: 50px;
}

.myContainer a{
  font-size: 15px;
}

.myBook{
  padding-left: 3px;
  padding-bottom: 12px;
  display: inline;
  max-width: 100%;
  height: auto;
  width: 60px;
}

.myNavBar:hover{
  font:bold 16px/20px arial,sans-serif;
}

.myInfo{
  margin-top: 300px;

}

.myFoot{
  color:white;
  text-align: right;
  font-size: 6px;
  padding-top: 10px;
  padding-right: 15px;
}

.myItemList{
  margin: 0 10px 0 10px;
  width:max-content;
  height: min-content;
  border-radius: 10px;
  border-bottom: 2px solid rgba(254,200,255,0.4);
  text-shadow:3px 2px 4px #d7d7d7;
  box-shadow:2px 3px 2px #808080;
  background-color: rgba(255,252,232,0.4);
}

.myItemList:hover{
  background-color: rgba(255,252,232,0.6);
}

.page-title {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  background-position: center top;
}

.page-title .container {
  height: 600px;
}

.page-title .entry-meta li,
.page-title .entry-meta li a {
  color: #fff;
  font-size: 16px;
}

.page-title .entry-meta li:hover,
.page-title .entry-meta li a:hover {
  color: #fff;
}

.title-holder {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.title-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.title-text h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
}

.title-text .subheading {
  font-size: 22px;
}

.breadcrumb {
  width: auto;
  background-color: transparent;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
}

.page-title .breadcrumb a,
.page-title .breadcrumb > .active {
  color: #fff;
}

.page-title .breadcrumb > li + li:before {
  color: #fff;
  opacity: 0.5;
  padding: 0 1px 0 5px;
}
