
body {
  margin: 0;
  background: url("/img/hero-day.jpg") no-repeat fixed center 0;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

a:link { text-decoration: none;color: white}
a:active { text-decoration:none}
a:hover { text-decoration:underline;color: floralwhite}
a:visited { text-decoration: none;color: white}

.myMenu{
  color:white;
  font-size: 16px;
  text-shadow:3px 2px 4px #d7d7d7 ;
}

.myContainer{
  width: 270px;
  height: 250px;
  background-color:rgba(0,0,0,0);
  box-shadow: none;
  border:none;
  margin-top: 130px;
  font-size: 20px;
  text-shadow:none;
}

.myContainer h1{
  font-size: 50px;
}

.myContainer a{
  font-size: 15px;
}

.myBook{
  padding-left: 3px;
  padding-bottom: 12px;
  display: inline;
  max-width: 100%;
  height: auto;
  width: 60px;
}

.myNavBar:hover{
  font:bold 16px/20px arial,sans-serif;
}

.myInfo{
  margin-top: 300px;

}

.myFoot{
  color:white;
  text-align: right;
  font-size: 6px;
  padding-top: 10px;
  padding-right: 15px;
}